.voltar {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-left: 1200px;
    background: #fcbffc;
    border-color: #c099bd;
    border-style: solid;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.imgVoltar {
    height: 35px;
    background: transparent;
}