* {
    background: transparent;
    background: radial-gradient(circle, rgb(247, 125, 142) 0%, rgb(247, 206, 240) 100%);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.home {
    background: #f8d9f6;
    width: 100vw;
    max-width: 100%;
    height: calc(100vh - 66px);
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    display: grid;
}

.tituloHome {
    margin-top: 70px;
    color: #a9749f;
    background: transparent;
    grid-column: 1;
    flex-direction: column;
    justify-content: start;
    display: flex;
    padding-top: 70px;
    padding-left: 250px;
    text-align: start;
    /* font-size: 100px; */
}

.textoHome {
    color: #a9749f;
    margin-top: 180px;
    background: transparent;
    margin-left: 60px;
    margin-right: 60px;
    font-family: sans-serif;
}

.buttonNovaAva {
    background: #febffa;
    height: 60px;
    display: inline;
    width: 220px;
    border-radius: 16px;
    cursor: pointer;
    padding: 2px 2px 2px 2px;
    transition: all ease-in-out 0.2s;
    border: 2px solid #f8d9f6;
    align-items: center;
    text-align: center;
    font-size: 18px;
    align-items: center;
    margin-top: 60px;
    margin-left: 200px;

}

.iconNovaAva {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background: transparent;
}

.primeiro {
    background: transparent;
}

.segundo {
    background: transparent;
    display: inline-block;
}

.lacStar {
    margin-top: 50px;
    margin-left: 80px;
    height: 100px;
    width: 200px;
}

.lacStarLogo {
    background: transparent;
    margin-left: 160px;
    height: 500px;
}

.avaliacao {
    height: 500px;
    width: 100%;
    max-width: 1350px;
    box-sizing: border-box;
    padding: 0 24px;
}