* {
    background: transparent;
    background: radial-gradient(circle, rgb(247, 125, 142) 0%, rgb(247, 206, 240) 100%);
}


.home {
    background: #f8d9f6;
    width: 1322px;
    height: 655px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    display: grid;
}

.tituloHome {
    margin-top: 70px;
    color: #a9749f;
    background: transparent;
    grid-column: 1;
    flex-direction: column;
    justify-content: start;
    display: flex;
    padding-top: 70px;
    padding-left: 250px;
    text-align: start;
    /* font-size: 100px; */
}

.textoHome {
    color: #a9749f;
    margin-top: 180px;
    background: transparent;
    margin-left: 90px;
    font-family: sans-serif;
}

.buttonNovaAva {
    background: transparent;
    height: 60px;
    width: 195px;
    border-radius: 25px;
    border: solid;
    align-items: center;
    text-align: center;
    font-size: 18px;
    align-items: center;
    margin-top: 60px;
    border-color: #b491ad;
    margin-left: 240px;

}

.iconNovaAva {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background: transparent;
}

.segundo {
    background: transparent;
}

.lacStar{
    margin-top: 150px;
    margin-left: 25px;
}