.containerVisualizacao {

  background: #f7e4f4;
  width: 850px;
  height: 550px;
  border-radius: 15px;
  padding: 15pz;
  margin-top: 90px;
  border-style: solid;
  border-width: 3px;
  border-color: #c478c0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

.tituloVisualizacao {
  font-weight: bold;
  text-align: center;
  background: transparent;
  color: #9c939c;
  width: 100%;
  grid-column: 1/3;
  font-family: sans-serif;

}

.containerDescricao {
  width: 500px;
  height: 100px;
  border-color: #a87ea5;
  border-style: solid;
  background: #f7d8ef;
  border-width: 3px;
  border-radius: 15px;
  padding-top: 5px;
  color: #a87ea5;
  font-family: sans-serif;
  padding-left: 3px;
  margin-right: 5px;
}

.imagemAvaliacao {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.areaInformacoes {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background: transparent;
  font-family: sans-serif;
}

.areaImagem {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: transparent;
  flex-direction: column;
  margin-left: 50px;
}

.categoria {
  background: transparent;
  margin-left: 43px;
  font-weight: bold;
  color: #9c939c;
  font-size: large;
  margin-top: 20px;
  font-family: sans-serif;
}

.lancamento {
  background: transparent;
  font-weight: bold;
  color: #9c939c;
  margin-left: 20px;
  font-size: large;
  margin-top: 0px;
  font-family: sans-serif;
}

.duracao {
  background: transparent;
  font-weight: bold;
  color: #9c939c;
  margin-left: 50px;
  font-size: large;
  margin-top: 0px;
  font-family: sans-serif;
}

.estrela {
  background: transparent;
  font-weight: bold;
  color: #9c939c;
  margin-top: 0px;
  font-family: sans-serif;
}


.star {
  background: transparent;
  margin-top: 10px;
}