* {
    background: transparent;
    background: radial-gradient(circle, rgb(247, 125, 142) 0%, rgb(247, 206, 240) 100%);
}

.titulo {
    background: #fce6fa;
    color: #db87d6;
    margin: 35px;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fce6fa;
    width: 400px;
    height: 550px;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    margin-top: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: #c478c0;
}

.label {
    width: 100;
    display: block;
    margin-top: 20px;
    margin: 10px;
    color: #db87d6;
    background: #fce6fa;
    background-color: transparent;

}

.button {
    margin: 35px;
    margin-top: 50px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background: #f9c5f5;
    color: rgb(18, 2, 18);
    border: transparent;
}

.input {
    border-radius: 10px;
    border-color: transparent;
    width: 250px;
    height: 20px;
    margin: 10px;
    background: #fccbf8;
    padding: 3px;
    padding-left: 15px;
    align-items: center;
}

.input houver {
    border-color: transparent;
    width: 230px;
    height: 44;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fce6fa;
}

.mensagemErro {
    border: 1px solid #f7daf7;
    background: #f7daf7;
    height: 80px;
    width: 400px;
    text-align: center;
    justify-content: center;
    margin-left: 30px;
    color: #574756;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 70px 1fr;
}

.tituloErro {
    color: #665565;
    background: #f7daf7;
    font-family: sans-serif;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
}

.imagemErro {
    height: 40px;
    width: 40px;
    background: transparent;
    grid-column: 1 / 2;
    margin-left: 20px;
    margin-top: 0px;
}

.mensagem {
    color: #665565;
    background: #f7daf7;
    font-family: sans-serif;
    margin-top: 5px;
    margin-right: 20px;
    display: flex;
    grid-column: 2 / 3;
}

@media (max-width: 600px){
    .container{
        width: 330px;
        height:470px;
        margin-top: 140px
    }
}