*{
    /* background-color: #b8a2b8; */
   background: #fd93a1;
    background: radial-gradient(circle, rgb(247, 125, 142) 0%, rgb(247, 206, 240) 100%) ;
}

.titulo{
    background: #fce6fa;
    color: #db87d6;
    margin: 35px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fce6fa;
    width: 400px;
    height: 550px;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    margin-top: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: #c478c0;
    
}
.label{
    width: 100;
    display: block;
    margin-top: 20px;
    margin: 10px;
    color:#db87d6;
    background: #fce6fa;
    background-color: transparent;
    
}

.button{
    margin: 30px;
    width: 200px;
    height: 3zzzz0px;
    border-radius: 10px;
    background: #f9c5f5;
    color:rgb(18, 2, 18);
    border: transparent;
}
.input{
    border-radius: 10px;
    border-color: transparent;
    width: 250px;
    height: 20px;
    margin: 10px;
    background: #fccbf8;
    padding-left: 15px;
}
.input houver{
    border-color: transparent;
    width: 230px;
    height: 44;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fce6fa;
}